.form
  %form#new_message.new_message
    .input-box
      %input#message_content.input-box__text{ placeholder: "type a message"}/
      %label.input-box__image
        %i.fa.fa-image
    %button.submit-btn send
