.side-header
  .side-header__box
    %p.side-header__box__user-name テスト太郎
    %ul.side-header__box__menu
      %li.side-header__box__menu__new-group
        %i.fa.fa-edit
      %li.side-header__box__menu__edit-user
        %i.fa.fa-cog

-# .chat_side_groups
-# %a{:href => ""}
-#   .group
-#   %p.group__group-name
-#   グループ名
-#   %p.group__latest-message
-#   最新のメッセージ

-#   %a{:href => ""}
-#   .group
-#   %p.group__group-name
-#   グループ名
-#   %p.group__latest-message
-#   最新のメッセージ
