.chat-side
  = render partial: "chat_side_header"
  = render partial: "chat_side_groups"

.chat-main
  = render partial: "chat_main_header"
  -# = render partial: "chat_main_message"
  -# = render partial: "chat_main_form"