.messages
  .message
    .message__upper-info
      %p.message__upper-info__talker taro
      %p.message__upper-info__date 2019/11/13(Wed) 18:21:24
    %p.message__text あああ
  .message
    .message__upper-info
      %p.message__upper-info__talker taro
      %p.message__upper-info__date 2019/11/13(Wed) 18:21:27
    %p.message__text いいい